<ng-container>
  <h2>Profiles</h2>
  <div class="p-grid" style="display: flex;flex-wrap: wrap; margin: 5px;">
    <p-card header="Mr Yenagandula" subheader="GITHUB" [style]="{'width': '25rem', 'margin':'1em', 'margin-bottom': '2em'}">
      <p>Software Engineer | Front End Developer | Story Teller | Angular | JavaScript | React | Java , Researching Programs Solving Techniques and Data Structures.</p>
    </p-card>
    <p-card header="Mr Yenagandula" subheader="MEDIUM" [style]="{'width': '25rem', 'margin':'1em','margin-bottom': '2em'}">
      <p>Software Engineer | Front End Developer | Story Teller | Angular | JavaScript | React | Java , Researching Programs Solving Techniques and Data Structures.</p>
    </p-card>
    <p-card header="Mr Yenagandula" subheader="STACKBLITZ" [style]="{'width': '25rem','margin':'1em', 'margin-bottom': '2em'}">
      <p>Software Engineer | Front End Developer | Story Teller | Angular | JavaScript | React | Java , Researching Programs Solving Techniques and Data Structures.</p>
    </p-card>
    <p-card header="King Rapelli" subheader="GITHUB" [style]="{'width': '25rem', 'margin':'1em','margin-bottom': '2em'}">
      <p>Software Engineer | Front End Developer | Angular | JavaScript </p>
    </p-card>
    <p-card header="Abhinay Developer" subheader="GITHUB" [style]="{'width': '25rem', 'margin':'1em','margin-bottom': '2em'}">
      <p>Software Engineer | Front End Developer | Angular | JavaScript | Java | Spring </p>
    </p-card>
  </div>
</ng-container>